*{
   box-sizing: border-box;
}

:root {
    --darkGrey: rgb(50, 52, 57);
    --grey: rgb(68, 72, 81);
    --lightGrey: rgb(128, 128, 128);
    --navSwidth: 45px;
}

body {
    margin: 0;
    font-family: "Mulish", Arial, sans-serif;
    background-color: var(--lightGrey);
}

header {
    position: absolute;
    z-index: 3;
}

#angle {
background-color: var(--lightGrey);
    position: absolute;
    z-index: 0;
    top: 50px;
    width: 120vw;
    height: 300px;
    left: -30px;
    transform: rotate(-5deg);
    top: -100px;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0);
}

section {
    min-height: 100vh;
    background-color: var(--grey);
}