*{
   box-sizing: border-box;
}

:root {
    --darkGrey: rgb(50, 52, 57);
    --grey: rgb(68, 72, 81);
    --lightGrey: rgb(128, 128, 128);
    --navSwidth: 45px;
}

body {
    margin: 0;
    font-family: "Mulish", Arial, sans-serif;
}

#angle {
    background-color: var(--grey);
}